MONGODB_URI=mongodb+srv://your-uri

BASE_URL=http://localhost:3000 # where you host open mailer
NEXTAUTH_URL=http://localhost:3000
AUTH_SECRET=random-secret

CORS_ORIGIN=* # from where you want to allow signups
API_KEY=random-key # eg. an uuid: https://www.uuidgenerator.net/
